{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <div class="container" style="margin-top: 10px">

    <center>

        <a href="{{ href('fos_user_security_login') }}" class="btn btn-success"> Login </button>
    </center>



    </div>
{% endblock %}
